* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lobster', cursive;
  font-size: 14px;
}
.todo_wrapper {
  width: 85%;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 40px;
}
ol {
  margin: 10px 30px;
}

ol li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid rgb(0, 159, 255);
  background-color: rgb(46, 115, 93);
}
span.delete_btn {
  cursor: pointer;
}
